{
  "env": {
    "development": {
      "presets": [
        "env",
        "react",
        "flow",
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "syntax-dynamic-import",
      ],
    },
    "production": {
      "presets": [
        "env",
        "react",
        "flow",
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "syntax-dynamic-import",
        "transform-react-constant-elements",
      ],
    },
    "test": {
      "presets": [
        "env",
        "react",
        "flow",
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "syntax-dynamic-import",
      ],
    },
  },
}
