@import '../partials/_variables';
@import '../partials/_btn';
/*  ============ App ===============*/

body {
  background-color: $back;
  color: $text;
}

/* Header Style */

header {
  width: 100%;
  height: 9.5vh;
  background-color: $nav;
  border-bottom: 1px solid rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  z-index: 2;
  img {
    width: 12.5vw;
    text-align: center;
    padding: 0.5em;
    &:hover {
      cursor: pointer;
    }
  }
}

/* Starter Section style */

main {
  font-family: $main-font;
  margin-top: 5vh;
  margin-bottom: 8vh;
  section {
    max-width: 80vw;
    margin: 0 auto;
    background-color: $main;
    border: 2px solid rgba(17,12,22,0.8);
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      li {margin: 0 auto;}
    }
  }
}

/* Main Classes */

.selection {
  margin-top: 0.1em;
  margin-bottom: 0;
  display: block;
  width: 100%;
  ul {
    display: flex;
    li {
      margin: 0;
      width: 50%;
      button {
        @extend %btn-style;
        width: 100%;
        margin-bottom: 0;
      }
      .double-size-btn {
        width: 200%;
      }
    }
  }
}


.card {
  width: 100%;
  margin: 0;
  h2 {
    margin-bottom: 0.5em;
    text-transform: capitalize;
  }
  h3 {
    margin-left: 5%;
    margin-bottom: 0.5em;
    text-align: start;
  }
  h4 { @extend h3 }
  img {
    height: auto;
    margin: 0 auto;
  }
  .race-img { width: 230px; }
  .class-img { width: 100px; }
  ul {
    list-style: none;
    display: block;
  }
  p {
    width: 90%;
    margin: 0 auto 1em auto ;
    text-align: justify;
    font-weight: normal;
  }
  .stats {
    p {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      span { text-transform: capitalize; }
      .close { margin-right: 10%; }
    }
  }
  .dotted-list {
    width: 90%;
    margin: 0 auto 0 8.5%;
    list-style: disc;
    li {
      margin: 10px 0;
      text-align: start;
    }
  }
}



.lock-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  button {
    @extend %btn-style;
    margin: 0.59em 0;
  }
}

.horizontal-line {
  width: 99%;
  height: 1px;
  margin: 0 auto 1em auto;
  border: 0.2px solid rgba(0,0,0,0.19);
  box-shadow: 0 0.4px 8px rgba(0,0,0,0.10),
              0 0.8px 2px  rgba(0,0,0,0.23);
  &.no-bottom { margin-bottom: 0; }
}

/* for-phone-only */
@media (max-width: 320px) {}
  /* default here, mobile 1st without grid */
  
/* for-tablet-portrait-up */
@media only screen and (min-width: 600px) {}

/* for-tablet-landscape-up */
@media only screen and (min-width: 900px) {}

/* for-desktop-up */
@media only screen and (min-width: 1200px) {}

/* for-big-desktop-up */
@media (min-width: 1800px) {}
/*  ============ App ===============*/
