@import '../partials/_variables';
@import '../partials/_btn';
/* Create Section style */

#CREATE {
  table {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    .main { text-transform: capitalize; }
  }

  h2 { text-transform: capitalize; }
  p {
    width: 90%;
    margin: 1em auto;
    text-align: justify;
    font-weight: normal;
  }
  h4 {
    margin-left: 5%;
    margin-bottom: 0.5em;
    text-align: start;
  }
  h5 {@extend h4;}
  ul {
    list-style: none;
    display: block;
  }
  #skill-number {
    margin-left: 5px;
    font-weight: normal;
  }
  .stats p {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .multi {
    width: 90%;
    max-height: 130px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    align-items: baseline;
    li { margin: 5px; }
  }
  .larger {
    max-height: 180px;
  }
  .equip {
    width: 90%;
    margin: 0 auto 0 8.5%;
    list-style: disc;
    li { 
      margin: 10px 0; 
      text-align: start;
    }
  }
  .lvl { margin: 0 0 0 5%; }
  .lvl + p { margin-top: 0.2em; }
}


