@import '../partials/_variables';
/* Navbar Style */

nav {
  font-family: $nav-font;
  width: 100%;
  height: 9.5vh;
  background-color: $nav;
  border-bottom: 1px solid rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
  }
    li {
      width: 32%;
      text-align: center;
      border-left: 2px solid rgba(17,12,22,0.5);
      padding: 0.9em 1.3em;
      &:first-child { border-left: none; }
      a {
        text-decoration: none;
        color: $link-color;
        &:focus {
          outline: none;
          color: $link-active;
        }
      }
    }
}


