@import '../partials/_variables';
@import '../partials/_btn';
/* Create Section style */

#CHARACTER {
  div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .btn {
      @extend %btn-style;
      margin: 0.8em 1em; 
    }
  }
  table {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    .main { text-transform: capitalize; }
  }

  h2 { text-transform: capitalize; }
  p {
    width: 90%;
    margin: 1em auto;
    text-align: justify;
    font-weight: normal;
  }
  h4 {
    margin-left: 5%;
    margin-bottom: 0.5em;
    text-align: start;
  }
  h5 {@extend h4;}
}


