@import '../partials/_variables';
@import '../partials/_btn';
/* Character Race Section style */

#RACE {
  hr { margin-bottom: 0; }
  #selection {
    margin-top: 0.1em;
    margin-bottom: 0;
    display: block;
    width: 100%;
    .category {
      clear: left;
      padding-top: 1em;
    }
    .category#first {
      padding-top: 0;
    }
    .race-btn {
      @extend %btn-style;
      display: inline;
      width: 50%;
      float: left;
      margin-bottom: 0;
    }
  }
  .card {
    width: 100%;
    margin: 0;
    h2 { margin-bottom: 0; }
    img {
      width: 230px;
      height: auto;
      margin: 0 auto;
    }
    .btn {
      @extend %btn-style;
      &:first-of-type {
        display: inline;
        float: left;
        margin: 1em 0 1em 2em;
      }
      &:last-of-type {
        display: inline;
        float: right;
        margin: 1em 2em 1em 0;
      }
    }
    ul {
      list-style: none;
      display: block;
      li {
        h5 { 
        text-align: start;  
        margin: 1em; 
        }
        p {
          width: 90%;
          margin: 1em auto ;
          text-align: justify;
          font-weight: normal;
        }
      }
    }
    .stats {
      p {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
    }
  }
}


